body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 40px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(10, minmax(0, 1fr));
	margin-top: 2rem;
	gap: 1rem;
	padding: 0 2rem;
}

.grid img {
	width: 100%;
}

button {
	margin-left: 1rem;
}
